<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
 
    <title>COTTON PLANT DISEASE PREDICTION</title>
 
    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            background-color: black;
        }
 
        .card-style {
            border :5px solid #ffbd39;
 
        }
 
        .content {
            padding: 15px;  
            color: white;
            background-color: rgb(153, 156, 150);
            /* font-size: 1rem; */
        }
 
        @media (max-width: 430px) and (min-width: 200px) {
 
            .contents {
                font-size: 0.6rem;
                color: chartreuse;
            }
 
            .content-h1 {
 
                font-size: 1rem;
            }
        }
 
        .border img {
            border-radius: 15px;
            border: 2px solid #ffbd39;
            
        }
    </style>
</head>
 
<body>
 
    <div>
        <img src="static/images/BeFunky-design1.png" class="w3-border w3-padding" alt="Indian AI Production"
            style="width:100% ; border: 2px solid #ffbd39;">
    </div>
 
    <div class="container-fluid" style="margin-bottom: -50px;">
        <br>
        <div class="row mb-5">
 
            <div class="col-sm" style="margin-bottom: 23px;">
                <span class="border border-primary">
                    <img src="{{ user_image }}" alt="User Image" class="img-thumbnail">
                    <!-- <img src="{{pred_output}}" alt="User Image" class="img-thumbnail"> -->
 
                </span>
            </div>
 
            <div class="col-sm">
 
                <div>
                    <h1 style="padding: 15px; background-color: #ffbd39; color: white;  margin-right: -15px;"
                        class="text-center mb-5 content-h1">
                        {{pred_output}} </h1>
                </div>
 
                <h2 style="color: #ffbd39;">Disease Name / रोग का नाम / રોગ નામ: </span></h2>
                <h3 style="line-height: 100%; color: white;">Attack of Leaf Sucking and Chewing Pests <br> चुरडा,मावा रोग <br> લીફ
                    ચૂસીને જીવાતો જીવાતોનો હુમલો </h3>
                <hr class="w-100 mx-auto ">
            </div>
        </div>
    
    </div>
 
    <section>
 
        <div class="container">
            <h1 style="padding: 15px; background-color: #ffbd39; color: white;"
                class="text-center my-3 content-h1">
                Recommended Products</h1>
        </div>
 
        <div class="container">
 
            <div class="card-columns">
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px; height: 300px;" class="img-fluid" src="static/images/preet.png" alt="">
                        <h3 style="color: white;">Dose: 60-80 gm/Acre</h3>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px; height: 300px;" class="img-fluid" src="static/images/ulala.png" alt="">
                        <h3 style="color: white;">Dose: 25-40 gm/Acre</h3>
                    </div>
                </div>
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px ;height: 300px;" class="img-fluid" src="static/images/victor.png" alt="">
                        <h3 style="color: white;">Dose: 60-80 gm/Acre</h3>
                    </div>
                </div>
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px; height: 300px;" class="img-fluid" src="static/images/confidor.png" alt="">
                        <h3 style="color: white;">Dose: 25-35 ml/Acre</h3>
                    </div>
                </div>
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px; height: 300px;" class="img-fluid" src="static/images/panama.png" alt="">
                        <h3 style="color: white;">Dose: 60-80 gm/Acre</h3>
                    </div>
                </div>
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px; height: 300px;" class="img-fluid" src="static/images/actara.png" alt="">
                        <h3 style="color: white;">Dose: 60-80 gm/Acre</h3>
                    </div>
                </div>
 
            </div>
 
            <!-- <div class="container-fluid contents"> -->
            <h5 style="padding: 15px; color: white;"
                class="text-center my-3 contents">
                @Prince Ajudiya & Yagnik Bavishi</h5>
            <!-- </div> -->
        </div>
 
    </section>
 
</body>
 
</html>